<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839181499488-mthh1eldhii9kkqls7s8i36jo2uv6b2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839181499488-mthh1eldhii9kkqls7s8i36jo2uv6b2r</string>
	<key>API_KEY</key>
	<string>AIzaSyCdXlST2WYvoV77pBOMVhgg2R80DIpue_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>839181499488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.airbnbclone</string>
	<key>PROJECT_ID</key>
	<string>airbnbclone-b96af</string>
	<key>STORAGE_BUCKET</key>
	<string>airbnbclone-b96af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839181499488:ios:49e3c2d11f8f1391</string>
	<key>DATABASE_URL</key>
	<string>https://airbnbclone-b96af.firebaseio.com</string>
</dict>
</plist>